body{
    height: 3000px;
}

.close-button{
    background-color: rgb(200, 187, 187);
    width: 200px;
    height:100px;
    position:relative;
}

.cancel{
    position: absolute;
    right: 8px;
    background-color: black;
    color:white;
    top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:2px;
    padding-bottom: 2px;
    border-radius: 50%;
}