
    .Deal {
        font-family: Arial;
        font-weight: bold;
        font-size:30px;
        margin-bottom: 0;
    
    }

    .Sales {
        font-family: Arial;
        color: red;
        font-size: 20.6;
        font-style: italic;
        margin-top:10;
    }

